
extends layout

block append header
  div.nav
    a(href=locals.url + '/') Posts | 
    a(href=locals.url + '/archive.html') Archives | 
    a(href='https://www.linkedin.com/in/hekarkhani/') LinkedIn | 
    a(href='http://github.com/hekar') Github

block content
  article.article.full
    h3.article-title
      a(href=locals.url + '/index.html')= page.title
    span= moment.utc(page.date).format('dddd MMMM YYYY')
    hr
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.comments
    #disqus_thread
    script.
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//http-hekar-github-io-blog.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    noscript
      | Please enable JavaScript to view the
      a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
