extends layout

block append header
  div.nav
    a(href=locals.url + '/projects.html') Projects | 
    a(href=locals.url + '/archive.html') Archives | 
    a(href='https://www.linkedin.com/in/hekarkhani/') LinkedIn | 
    a(href='http://github.com/hekar') Github

block content
  - var i = 0
  each article in articles
    - i += 1
    article.article.intro
      header
        h3
          a(href=locals.url + article.url)= i + '. ' + article.title
          a.tag= ' (' + article.metadata.tag + ')'
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
      p.meta
        a(href=locals.url + '/author.html')= article.metadata.author +' | '
        span= moment.utc(article.date).fromNow()
        span &nbsp;|&nbsp;
        a(href=locals.url + article.url) more
  include author

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) Less
    if nextPage
      a(href=locals.url + nextPage.url) More
